body {
    padding: 20px;
    background: linear-gradient(white,red);
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background: linear-gradient(#7ac20b,#f9dd00,#ff0000);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  